body {
  background-color: #F3D9E5;
  color: Black;
  font-family: "Roboto", sans-serif;
  /* TODO improve flexbox */
  display: block;
  align-items: center;
  justify-content: center;
}

label, 
.score{
  font-weight: 600;
  font-size: 20px;
}

.humanChoice,
option{
  background-color: White;
  padding: 10px;
  text-align: center;
  margin: 10px;
  border: none;
  font-weight: 600;
  font-size: 15px;
}

button {
  background-color: #88E088;
  color: Black;
  border: none;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

button:hover {
  background-color: #3B873E;
  color: White; 
}
